@import url(style.css);


.home{
    /* background-image: url("../storage/img/placeYourImageHere0.png"); */
    background-color: black;
}



.encabezado header{
    width: 100vw;
    margin: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.encabezado{
    background-color: black;
    width: 100vw;
    color: #fff;
    /* background-image: url(); */
    display: flex;
    justify-content: center;    
    /* background-image: url("storage/img/placeYourImageHere0.png"); */
}

.encabezado ul{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}



/* .encabezado ul :first-child{
    display: flex;
    flex-direction: row;
} */

.aboqual{
    background-color: #17171e;
    color: #fff;
}


.lista1{
    background-image: url("storage/img/placeYourImageHere0");
    display: flex;
    margin: 50px;
}

.lista1 div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    color: #fff;
}


button{
    height: 40px;
    width: 60px;
    background-color: #e58f00;
    border-radius: 10px;
}

.ourfood{
    background-color: black;
}

.ourfood div{
    display: flex;
    justify-content: center;
}

.ourfood img{
    margin: 5px;
}

.lista2{
    display: flex;
}

.quality{
    display: flex;
}

.primeraLinea{
    display: flex;
    flex-direction: column;
}

.primeraLinea img{
    height: 500px;
    width: 500px;
}
.segundaLinea{
    display: flex;
    flex-direction: column;
}

.segundaLinea img{
    height: 500px;
    width: 500px;
}

/* .lista2  */

/* .enjoy{