@import url(style.css);



.encabezado{
    background-color: black;
    width: 100vw;
    color: #fff;
    /* background-image: url(); */
    display: flex;
    justify-content: center;    
    /* background-image: url("storage/img/placeYourImageHere0.png"); */
}

.encabezado ul{
    display: flex;
    justify-content: space-between;
}

.encabezado ul :first-child{
    display: flex;
    flex-direction: row;
}


.lista1{
    display: flex;
}

button{
    height: 40px;
}

.ourfood{
    background-color: black;
}

.ourfood div{
    display: flex;
    justify-content: center;
}

.ourfood img{
    margin: 5px;
}

.enjoy{
    
}