@import url(style.css);

.encabezado{
    /* background-color: black; */
    width: 100vw;
    /* background-image: url(); */
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    /* background-image: url("storage/img/placeYourImageHere0.png"); */

}

.lista1{
    display: flex;
}

button{
    height: 40px;
}


